[Unit]
Description=Template (:%i) rendering, notifier, and supervisor for Carbonio service-discover
PartOf=service-discover-template.target

[Service]
User=service-discover
Group=service-discover
EnvironmentFile=-/etc/default/service-discover-template
ExecStart=/usr/bin/consul-template -config /etc/zextras/service-discover-template/%i.hcl
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
