# SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Target file for service-discover-template@ service templates

[Install]
WantedBy=multi-user.target
